<form [formGroup]="form">
  <div class="row mb-4">
    <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">{{"date_echan1"|translate}}</label>
    <div class="col-sm-9">
      <input type="date" class="form-control" formControlName="dateEchantillonnageEspece1" />
    </div>
  </div>
  <div class="row mb-4">
    <label for="horizontal-email-input" class="col-sm-3 col-form-label">{{"NvAlerte_Biotoxines"|translate}}</label>
    <div class="col-sm-9">
      <div class="col-sm-9 d-flex justify-content-start gap-5">
        <div *ngFor="let option of ['Normale', 'Alerte']; let i = index" class="radio-button">
          <label class="mr-3">
            <input type="radio" name="niveauAlerteBiotoxine1" [value]="option"
              formControlName="niveauAlerteBiotoxine1" />
            {{ option }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <label for="test-type" class="col-sm-3 col-form-label">{{"Type_de_Test"|translate}}</label>
    <div class="col-sm-9">
      <div class="col-sm-9 d-flex justify-content-start gap-5">
        <div *ngFor="let option of ['Biologique', 'Chimique']; let i = index" class="radio-button">
          <label class="mr-3">
            <input type="radio" name="typeTest" [value]="option" formControlName="typeTest" (change)="onTestTypeChange(option)" />
            {{ option }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="form.get('typeTest')?.value === 'Biologique'">
    <div class="row mb-4">
      <label for="horizontal-password-input" class="col-sm-3 col-form-label">{{"LSP_esp1"|translate}}</label>
      <div class="col-sm-9">
        <div class="col-sm-9 d-flex justify-content-start gap-5">
          <div *ngFor="let option of ['Absence', 'Présence']; let i = index" class="radio-button">
            <label class="mr-3">
              <input type="radio" name="lspEspece1" [value]="option" formControlName="lspEspece1" />
              {{ option }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="form.get('typeTest')?.value === 'Chimique'">
    <div class="row mb-4">
      <label for="horizontal-password-input" class="col-sm-3 col-form-label">{{"LSP_ac_okad"|translate}}</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" formControlName="lsp1AcideOkadaique" />
      </div>
    </div>
    <div class="row mb-4">
      <label for="horizontal-password-input" class="col-sm-3 col-form-label">{{"LSP_ac_azas"|translate}}</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" formControlName="lsp1AcideAzaspiracides" />
      </div>
    </div>
    <div class="row mb-4">
      <label for="horizontal-password-input" class="col-sm-3 col-form-label">{{"LSP_yess"|translate}}</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" formControlName="lsp1Yessotoxines" />
      </div>
    </div>
    <div class="row mb-4">
      <label for="horizontal-password-input" class="col-sm-3 col-form-label">{{"PSP_espèce1"|translate}}</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" formControlName="pspEspece1" />
      </div>
    </div>
    <div class="row mb-4">
      <label for="horizontal-password-input" class="col-sm-3 col-form-label">{{"ASP"|translate}}</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" formControlName="asp1" />
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap gap-2">
    <button type="submit" class="btn btn-primary w-md" (click)="formSaveHandler()">{{"Enre"|translate}}</button>
    <button type="button" class="btn btn-secondary w-md">{{"Ann"|translate}}</button>
  </div>
</form>