/* Add this to your CSS file */
.icon-style {
    font-size: 1.5rem;
  }
  
  .icon-edit {
    color: #007bff;
  }
  
  .icon-save {
    color: #28a745;
  }
  
  .icon-cancel {
    color: #dc3545;
  }

  .text-muted {
    color: gray; 
}