<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <h2 class="titre-h2 titre-table mar-bott-20">Alerte environnementale</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success btn-rounded mb-2 me-2"
                                    (click)="AddNewForm('Sys_FrmDemandeAlerte',typeEnvironnementAlert)"><i
                                        class="mdi mdi-plus mr-1"></i>
                                    Ajouter une alerte environnementale</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="table-responsive mb-0">
                            <table class="table table-centered table-nowrap">
                                <thead class="table-light">
                                    <tr>
                                        <th>Lieux</th>
                                        <th>date</th>
                                        <th>Catégorie</th>
                                        <th>Espéces</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let alert of dataGrid ">
                                        <td>{{ alert?.selectedPort }}</td>
                                        <td>{{ alert?.date_alert }}</td>
                                        <td>{{ alert?.category.title }} </td>
                                        <td>
                                            <span *ngFor="let specie of alert?.listEspeces">{{ specie.specie }}</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-warning btn-rounded mb-2 me-2"
                                                (click)="editAlerte(alert)"><i class="fas fa-pencil-alt"></i></button>
                                            <button type="button" class="btn btn-danger btn-rounded mb-2 me-2"
                                                (click)="deleteAlerte(alert)"><i class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>