<div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12" *ngIf=this.priseEncharge>
        <div class="card">
          <h4 class="mb-0"><strong>Prise en charge</strong></h4>
          <div class="card-body">
            <br>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Date de création</label>
                  <input class="form-control" [(ngModel)]="this.priseEncharge.date_creation" disabled>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Type : </label>
                  <div class="mb-3">
                    <input class="form-control" [(ngModel)]="this.priseEncharge.type" disabled />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Région</label>
                  <input class="form-control" [(ngModel)]="this.priseEncharge.region" disabled />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Emetteur</label><br />
                  <div class="mb-3">
                    <input class="form-control" [(ngModel)]="this.priseEncharge.emetteur" disabled />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Demandeur initial</label><br />
                  <div class="mb-3">
                    <input class="form-control" [(ngModel)]="this.priseEncharge.beneficiaire" disabled />
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
          <h4 class="mb-0"><strong>Traitement de l’avis</strong></h4>
          <div class="card-body">
            <br>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Assigné à </label>
                  <input class="form-control" disabled>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Date prévisionnelle de réponse</label><br />
                  <div class="mb-3">
                    <input class="form-control" [(ngModel)]="this.priseEncharge.date_response" disabled>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Date prise en charge</label>
                  <input class="form-control" [(ngModel)]="this.priseEncharge.date_prisecharge" disabled>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Type d’avis</label><br />
                  <div class="mb-3">
                    <input class="form-control" [(ngModel)]="this.priseEncharge.espace_traitement" disabled />
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
          <h4 class="mb-0"><strong>Résultat</strong></h4>
          <div class="card-body">
            <br>
            <label class="form-label">Réf avis</label>
            <input type="text" [(ngModel)]="refAvis">
            <label>Date réponse avis</label>
            <input type="text" [(ngModel)]="dateReponseAvis">
            <label>Upload réponse avis</label>
            <input type="file" [(ngModel)]="UploadReponseAvis"><br>
            <label>Observation</label>
            <textarea type="text" class="form-control" [(ngModel)]="Observation"></textarea>
          </div>
          <button type="button" class="btn btn-primary me-2" (click)="SaveResultat()">Enregistrer Résultat</button>
        </div> <!-- end card-body -->
      </div> <!-- end col -->
    </div>
  </div>
</div>